<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All Book </title>
</head>
<body>
    <%- include('partials/nav') %> 
    <h1> All Book </h1>
    
    <form action="/book?" method="get">
        
        <label for="search">Search Title Book:</label>
        <input type="search" id="search" name="search" placeholder="Android">
        <button type="submit">Search</button>

    </form>

    <br></b>
            <%if (data.length > 0) { %>
                <table border="1">
                    <thead>
                        <th>No. </th>
                        <th>Judul</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                <% for(let i = 0; i < data.length; i++){ %>
                    <tr>
                        <td><%= i+1 %> </td>
                        <td><%= data[i].title %> </td>
                        <td> <a href="/books/<%= data[i].id %> ">Details</a> || <a href="/order/<%= data[i].id %> " onclick="return confirm('Udah yakin?')" >Order</a> </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
            <% }else{ %>
                <h1>Not found!</h1>
            <% } %>
</body>
</html>