<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.title %> </title>
</head>
<body>
    <h1><%= data.title %> </h1>
    <h4>ISBN: <%= data.isbn %> </h4>
    <h4>Page Count: <%= data.pageCount %> </h4>
    <h4>Publised Date: <%= data.publishedDate %> </h4>
    <h4>Authors: <%= data.isbn.authors %> </h4>
    <h4>Category: <%= data.isbn.category %> </h4>
    <br>
    <br>
    <a href="/books">Back</a>
</body>
</html>